
/* ########### Colors  ############*/
:root{

/* ### Primary ### */
  --semi-dark-blue: hsl(217, 28%, 15%);
  --dark-blue: hsl(218, 28%, 13%);
  --very-dark-blue : hsl(216, 53%, 9%);
  --light-blue : hsl(219, 30%, 18%);

/* ### Accent ###*/
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);

/* ### Neutral ###*/
--white: hsl(0, 0%, 100%)
}

html{
  box-sizing: border-box;
}
html *,html *::after,html *::before{
  box-sizing: inherit;
}

body{
  font-size: .875rem;
  margin: 0;
  background-color: var(--dark-blue);
  color: #fff;
  font-family: open-sans;
  font-weight: 400;
}



.inner-container{
  width: 80%;
  max-width: 50em;
  margin: 0 auto;
}

.clearfix::before,.clearfix::after{
  content: ' ';
  display: table;
}
.clearfix::after{
  clear: both;
}

.heading{
  font-size: 1.7em;
  line-height: 1.5em;
  font-family: raleway;
  text-align: center;
}

.btn{
  text-decoration: none;
  color: #fff;
  font-family: raleway;
  font-weight: 700;
  padding: 1em 5em;
  margin: 2em auto;
  display: table;
  background-image: linear-gradient(var(--cyan), var(--blue));
  border-radius: 50em;
}

.header{
  padding: 2em;
  background-color: var(--semi-dark-blue);
}

.header__logo{
  height: 2em;
  float: left;
}

.header__nav{
  float: right;
}

.menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item-wrap{
  float: left;
}

.menu__item{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: .5em;
}

.intro{
  background-image: url('../images/bg-curvy-mobile.svg'),
                    linear-gradient(transparent calc(50% + 4.9em), var(--dark-blue) calc(50% + 4.9em));
  background-repeat: no-repeat;
  background-position: 0 50%, 0 0;
  background-size: 100% 10em, 100%;
  background-color: var(--semi-dark-blue);
}

.intro__img{
  width: 100%;
}

.intro__title{

}

.intro__des{
  text-align: center;
}

.intro__btn{

}

.featurs{
}

.feature{
  text-align: center;
  margin: 7em 0;
}

.feature__img{
  width: 5em;
  margin: 1.5em auto;
  display: block;
}

.feature__title{
  font-size: 1.25em;
  margin: .5em 0;
}

.feature__des{

}

.access-anywhere{
  padding: 4em 0;
}

.access-anywhere__img{
  width: 100%;
}

.access-anywhere__title{
  font-size: 1.25em;
}

.access-anywhere__des{
  margin: 1em 0;
}

.access-anywhere__link-wrap{
  font-size: .9em;
  border-bottom: 1px solid var(--cyan);
  display: table;
  padding: .5em 0;
  margin: 1em 0;
}

.access-anywhere__link{
  text-decoration: none;
  color: var(--cyan);
  line-height: 1.5em;
}

.access-anywhere__link-icon{
  height: 1.5em;
  display: block;
  float: right;
  margin-left: .25em;
}

.testimonials{
  position: relative;
  margin: 5em 0 2em;
}
.testimonials::after{
  content: " ";
  display: block;
  position: absolute;
  background-image: url('../images/bg-quotes.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.2em;
  width: 1.46em;
  bottom: 100%;
  left: 15%;
}

.testimonial{
  padding: 1.5em;
  background-color: var(--light-blue);
  border-radius: .25em;
  margin: 2em 1em;
  box-shadow: 0 0 0 .25em rgba(255,255,255,.02);

}
.testimonial:first-child{
  margin-top: 0;
}
.testimonial:last-child{
  margin-bottom: 0;
}

.testimonial__txt{
  font-size: .8em;
  margin: 1em 0;
  margin-bottom: 2em;
}

.testimonials__profile-wrap{
  /* height: 5em; */
}

.testimonial__img-wrap{
  float: left;
  height: 2.2em;
  width: 2.2em;
  margin-right: .5em;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial__img{
  height: 1em;
  height: 100%;
}

.testimonial__name{
  font-size: .8em;
  margin: 0;
  text-align: left;
  line-height: normal;
}

.testimonial__profession{
  font-size: .7em;
  color: #ddd;
}

.sign-up{
  background-image: linear-gradient(var(--dark-blue) 50%,var(--very-dark-blue) 50%);
  padding: 3em 0;
}

.sign-up__wrapper{
  border-radius: .5em;
  background-color: var(--semi-dark-blue);
  padding: 2em;
  margin: 1.5em;
  box-shadow: .2em .2em .5em 0 rgba(0,0,0,.25);
}

.sign-up__title{
  font-size: 1.3em;
}

.sign-up__txt{
  text-align: center;
  color: #eee;
}

.sign-up__input{
  border: none;
  border-radius: 50em;
  padding: 1.3em;
  display: block;
  width: 100%;
  margin-top: 2.5em;
  color: #333;
  font-family: inherit;
}
.sign-up__input::placeholder{
  color: #333;
}

.sign-up__btn{
  padding: 1.3em;
  text-align: center;
  display: block;
}

.footer{
  background-color: var(--very-dark-blue);
  padding: 1em 0 5em;
}

.footer__logo{
  width: 13em;
  margin: .5em;
  margin-bottom: 2em;
  display: block;
}

.contact-us{

}

.contact-us__item{
  margin: 2em 0;
  display: flex;
  flex-flow: row nowrap;
}

.contact-us__icon-wrap{
  width: 1.1em;
  flex-shrink: 0;
}

.contact-us__icon{
  width: 100%;
  transform: translateY(20%);
}

.contact-us__txt-wrap{
  margin-left: 1em;
}

.contact-us__txt{
  margin: 0;
}

.footer__menu-wrap{
  font-size: 1.15em;
  margin: 3.5em 0;
}

.footer__menu{
  margin: 1.5em 0;

}

.footer__menu .menu__item-wrap{
  float: none;
}

.footer__menu .menu__item{
  padding-left: 0;
  padding-right: 0;
}

.footer__social-links{
  display: table;
  font-size: 1.1em;
  margin: 0 auto;
}

.social-links{
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-links__item-wrap{
  float: left;
  margin: 0 .5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links__item{
  color: inherit;
  text-decoration: none;
  display: block;
}
